@using SuaChuaMaiLoan.Models
@using Newtonsoft.Json
@{
    string filePathFlavour = Server.MapPath("~/JsonModels/flavour.json");
    string jsonTextFlavour = System.IO.File.ReadAllText(filePathFlavour);
    List<Flavour> resultFlavour = JsonConvert.DeserializeObject<List<Flavour>>(jsonTextFlavour);
    resultFlavour = resultFlavour.OrderByDescending(o => o.Name).ToList();
    Session["lstFlavour"] = resultFlavour;

    string filePathCategories = Server.MapPath("~/JsonModels/categories.json");
    string jsonTextCategories = System.IO.File.ReadAllText(filePathCategories);
    List<Categories> resultCategories = JsonConvert.DeserializeObject<List<Categories>>(jsonTextCategories);
    resultCategories = resultCategories.OrderByDescending(o => o.Name).ToList();
    Session["lstCategories"] = resultCategories;

    string filePathSystemContact = Server.MapPath("~/JsonModels/systemContact.json");
    string jsonTextSystemContact = System.IO.File.ReadAllText(filePathSystemContact);
    var resultSystemContact = JsonConvert.DeserializeObject<List<SystemContact>>(jsonTextSystemContact);
    SystemContact resultSystemContacts = resultSystemContact.First();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
</head>
<body class="animsition">
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "101634681597435");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v17.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Header -->
    <header class="header-v4">
        <!-- Header desktop -->
        <div class="container-menu-desktop how-shadow1">
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                        FREESHIP TRONG PHẠM VI 5KM
                    </div>
                </div>
            </div>
            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="@Url.Action("Index","Home")" class="logo">
                        <img src="@Url.Content("~/Content/images/icons/logo-01.png")" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            @if (ViewBag.ShowActive == "HomeIndex")
                            {
                                <li class="active-menu">
                                    <a href="@Url.Action("Index", "Home")">Trang Chủ</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Home")">Trang Chủ</a>
                                </li>
                            }
                            @if (ViewBag.ShowActive == "HomeProduct")
                            {
                                <li class="active-menu">
                                    <a href="@Url.Action("Product", "Home")">Sản Phẩm</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("Product", "Home")">Sản Phẩm</a>
                                </li>
                            }

                            @*<li class="label1" data-label1="hot">
                                    <a href="shoping-cart.html">Features</a>
                                </li>*@
                            @if (ViewBag.ShowActive == "HomeAbout")
                            {
                                <li class="active-menu">
                                    <a href="@Url.Action("About", "Home")">Giới Thiệu</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("About", "Home")">Giới Thiệu</a>
                                </li>
                            }
                            @if (ViewBag.ShowActive == "HomeContact")
                            {
                                <li class="active-menu">
                                    <a href="@Url.Action("Contact", "Home")">Liên Hệ</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("Contact", "Home")">Liên Hệ</a>
                                </li>
                            }
                        </ul>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile  how-shadow1">

            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/images/icons/logo-01.png")" alt="IMG-LOGO"></a>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="main-menu-m">
                @if (ViewBag.ShowActive == "HomeIndex")
                {
                    <li class="active-menu">
                        <a href="@Url.Action("Index", "Home")">Trang Chủ</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", "Home")">Trang Chủ</a>
                    </li>
                }
                @if (ViewBag.ShowActive == "HomeProduct")
                {
                    <li class="active-menu">
                        <a href="@Url.Action("Product", "Home")">Sản Phẩm</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Product", "Home")">Sản Phẩm</a>
                    </li>
                }

                @if (ViewBag.ShowActive == "HomeAbout")
                {
                    <li class="active-menu">
                        <a href="@Url.Action("About", "Home")">Giới Thiệu</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("About", "Home")">Giới Thiệu</a>
                    </li>
                }
                @if (ViewBag.ShowActive == "HomeContact")
                {
                    <li class="active-menu">
                        <a href="@Url.Action("Contact", "Home")">Liên Hệ</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Contact", "Home")">Liên Hệ</a>
                    </li>
                }
            </ul>
        </div>

        <!-- Modal Search -->
        <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
            <div class="container-search-header">
                <button class="flex-c-m btn-hide-modal-search trans-01 js-hide-modal-search">
                    <img src="@Url.Content("~/Content/images/icons/icon-close2.png")" alt="CLOSE">
                </button>

                <form action="@Url.Action("SearchProduct", "Home")" method="post" class="wrap-search-header flex-w p-l-15">
                    <button class="flex-c-m trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <input class="mtext-101" type="text" name="search" placeholder="Tìm kiếm sản phẩm">
                </form>
            </div>
        </div>
    </header>

    <!-- Cart -->
    <div class="wrap-header-cart js-panel-cart">
        <div class="s-full js-hide-cart"></div>

        <div class="header-cart flex-col-l p-l-65 p-r-25">
            <div class="header-cart-title flex-w flex-sb-m p-b-8">
                <span class="mtext-103 cl2">
                    Your Cart
                </span>

                <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>

            <div class="header-cart-content flex-w js-pscroll">
                <ul class="header-cart-wrapitem w-full">
                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="@Url.Content("~/Content/images/item-cart-01.jpg")" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                White Shirt Pleat
                            </a>

                            <span class="header-cart-item-info">
                                1 x $19.00
                            </span>
                        </div>
                    </li>

                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="@Url.Content("~/Content/images/item-cart-02.jpg")" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                Converse All Star
                            </a>

                            <span class="header-cart-item-info">
                                1 x $39.00
                            </span>
                        </div>
                    </li>

                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="@Url.Content("~/Content/images/item-cart-03.jpg")" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                Nixon Porter Leather
                            </a>

                            <span class="header-cart-item-info">
                                1 x $17.00
                            </span>
                        </div>
                    </li>
                </ul>

                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Total: $75.00
                    </div>

                    <div class="header-cart-buttons flex-w w-full">
                        <a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                            View Cart
                        </a>

                        <a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                            Check Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <input hidden id="requestPath" value="@Url.Content("~")" />

    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 p-b-50" style="padding-left: 40px; padding-right: 40px ">
                    <h4 class="stext-301 cl0">
                        LOẠI KÍCH CỠ
                    </h4>
                    <hr class="bg-light" />
                    <ul>
                        @foreach (var item in resultCategories)
                        {
                            <li class="p-b-10">
                                <a href="@Url.Action("Product", "Home")" class="stext-107 cl7 hov-cl1 trans-04">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-50" style="padding-left: 40px; padding-right: 40px ">
                    <h4 class="stext-301 cl0">
                        HƯƠNG VỊ
                    </h4>
                    <hr class="bg-light" />
                    <ul style="list-style-type: disc; -webkit-columns: 2; -moz-columns: 2; columns: 2; list-style-position: inside;">

                        @foreach (var item in resultFlavour)
                        {
                            <li class="p-b-10">
                                <a href="@Url.Action("Product", "Home")" class="stext-107 cl7 hov-cl1 trans-04">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-50" style="padding-left: 40px; padding-right: 40px">
                    <h4 class="stext-301 cl0">
                        LIÊN HỆ
                    </h4>
                    <hr class="bg-light" />
                    <p class="stext-107 cl7">
                        Địa chỉ: @resultSystemContacts.Address
                    </p>
                    <p class="stext-107 cl7">
                        Điện thoại: <a href="tel:@resultSystemContacts.Phone.Replace(" ", "")">@resultSystemContacts.Phone</a>
                    </p>
                    <p class="stext-107 cl7">
                        Email: <a href="mailto:@resultSystemContacts.Email">@resultSystemContacts.Email</a>
                    </p>

                    <div class="p-t-27">
                        <a target="_blank" href="@resultSystemContacts.Facebook" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook-square"> </i>&ensp;Facebook
                        </a>
                        <a target="_blank" href="@resultSystemContacts.Zalo" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-comments"> </i>&ensp;Zalo
                        </a>
                    </div>
                </div>

                @*<div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0">
                            Newsletter
                        </h4>
                        <hr class="bg-light" />
                        <form>
                            <div class="wrap-input1 w-full p-b-4">
                                <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                                <div class="focus-input1 trans-04"></div>
                            </div>

                            <div class="p-t-18">
                                <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>*@
            </div>

            <div>

                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script><a href="@Url.Action("Index", "Home")" target="_blank"> Yogurt Phô Mai Đà Lạt</a>, Design By <a href="https://www.aendy.net" target="_blank">www.aendy.net</a>.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
    <script type="text/javascript" src="https://web.cmbliss.com/webtools/hotline/js/hotline.js"></script>
    <script type="text/javascript">$("body").hotline({ phone: "0979 199 184", p_right: true, p_bottom: true, bottom: 40, p_left: false, left: 0, bg_color: "#2986cc", abg_color: "rgba(41, 134, 204, 0.836)", show_bar: false, position: "fixed", });</script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v17.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })</script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/slick/slick.min.js"></script>
    <script src="~/Content/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/parallax100/parallax100.js"></script>
    <script>$('.parallax100').parallax100();</script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });</script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/sweetalert/sweetalert.min.js"></script>
    <script>
        $('.js-addwish-b2').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });</script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });</script>
    <!--===============================================================================================-->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc7PnOq3Hxzq6dxeUVaY8WGLHIePl0swY"></script>*@
    @*<script src="~/Content/js/map-custom.js"></script>*@

    <script src="~/Content/js/main.js"></script>

</body>
</html>