@model SuaChuaMaiLoan.Models.Products

<div id="contentModalChiTietSP" class="row">
    <div class="col-md-6 col-lg-7 p-b-30">
        <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots"></div>
                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                <div class="slick3 gallery-lb">
                    <div class="item-slick3" data-thumb="@Url.Content("~/Content/images/product-01.jpg")">
                        <div class="wrap-pic-w pos-relative">
                            <img src="@Url.Content("~/Content/images/product-01.jpg")" alt="IMG-PRODUCT">

                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Url.Content("~/Content/images/product-01.jpg")">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>

                    <div class="item-slick3" data-thumb="@Url.Content("~/Content/images/product-02.jpg")">
                        <div class="wrap-pic-w pos-relative">
                            <img src="@Url.Content("~/Content/images/product-02.jpg")" alt="IMG-PRODUCT">

                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Url.Content("~/Content/images/product-02.jpg")">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>

                    <div class="item-slick3" data-thumb="@Url.Content("~/Content/images/product-03.jpg")">
                        <div class="wrap-pic-w pos-relative">
                            <img src="@Url.Content("~/Content/images/product-03.jpg")" alt="IMG-PRODUCT">

                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Url.Content("~/Content/images/product-03.jpg")">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-5 p-b-30">
        <div class="p-r-50 p-t-5 p-lr-0-lg">

            <h4 class="mtext-105 font-weight-bold cl2 js-name-detail p-b-14">
                @Model.Name
            </h4>

            <span class="mtext-105 font-weight-bold cl2">
                <span class="text-danger">
                    @Model.Price đ
                </span>
            </span>
            <hr />
            <p class="mtext-106 font-weight-bold">CHI TIẾT SẢN PHẨM</p>
            <p class="stext-104 cl3 p-t-23">
                Dinh dưỡng có vai trò quan trọng trong suốt quá trình tăng trưởng và phát triển.
            </p>
            <p class="stext-104 cl3 p-t-23">
                Chuyên gia dinh dưỡng đã có hơn 10 năm thành công với công thức phát triển chiều cao cho trẻ em. Nay phát triển công thức mới, với hệ dưỡng chất thiết yếu và cân đối giúp phát triển chiều cao, tăng cân khỏe mạnh, hỗ trợ phát triển trí não, tăng cường sức đề kháng và hỗ trợ tiêu hóa khỏe mạnh.
            </p>
            <p class="stext-104 cl3 p-t-23">
                FOS/Inulin: là chất xơ hào tan giúp duy trì sự cân bằng các vi khuẩn có lợi ở đường ruột. Ngoài việc giúp tối ưu hóa việc hấp thu các dưỡng chất, FOS/Inulin còn giúp giảm nguy cơ nhiễm trùng đường ruột và tiêu chảy, đồng thời chống táo bón, tăng hấp thu khoáng chất và góp phần làm cho hệ miễn dịch hoạt động tốt hơn.
            </p>
            <p class="stext-104 cl3 p-t-23">
                Dinh dưỡng có vai trò quan trọng trong suốt quá trình tăng trưởng và phát triển.
            </p>
            <p class="stext-104 cl3 p-t-23">
                FOS/Inulin: là chất xơ hào tan giúp duy trì sự cân bằng các vi khuẩn có lợi ở đường ruột. Ngoài việc giúp tối ưu hóa việc hấp thu các dưỡng chất, FOS/Inulin còn giúp giảm nguy cơ nhiễm trùng đường ruột và tiêu chảy, đồng thời chống táo bón, tăng hấp thu khoáng chất và góp phần làm cho hệ miễn dịch hoạt động tốt hơn.
            </p>
            <p class="stext-104 cl3 p-t-23">
                Bốn yếu tố quan trọng CHIỀU CAO – CÂN NẶNG – TRÍ TUỆ – SỨC ĐỀ KHÁNG có trong sữa Nuvita Grow 1+ giúp phát triển toàn diện ngay từ nhỏ tạo tiền đề vững chắc cho cho trẻ phát triển tốt trong những giai đoạn trưởng thành
            </p>
        </div>
    </div>
</div>
