@model IEnumerable<SuaChuaMaiLoan.Models.Products>
@using SuaChuaMaiLoan.Models
@{
    int i = 0;
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(/Content/images/slide-01.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                HƯƠNG VỊ TƯƠI NGON
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                Yogurt Phô Mai Đà Lạt
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                            <a href="@Url.Action("Product", "Home")" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                XEM SẢN PHẨM
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(/Content/images/slide-02.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                HƯƠNG VỊ TƯƠI NGON
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                Yogurt Phô Mai Đà Lạt
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                            <a href="@Url.Action("Product", "Home")" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                XEM SẢN PHẨM
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(/Content/images/slide-03.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                HƯƠNG VỊ TƯƠI NGON
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                Yogurt Phô Mai Đà Lạt
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                            <a href="@Url.Action("Product", "Home")" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                XEM SẢN PHẨM
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner -->
<div class="sec-banner bg0 p-t-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img style="width: 45%; margin-left: 55%" src="@Url.Content("~/Content/images/call-center.gif")" alt="IMG-BANNER">

                    <a class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                HỖ TRỢ
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                HỖ TRỢ KHÁCH HÀNG
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Hỗ trợ 24/24
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img style="width: 45%; margin-left: 55%" src="@Url.Content("~/Content/images/deliveryman-riding-scooter.gif")" alt="IMG-BANNER">

                    <a class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                FREESHIP
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                MIỄN SHIP TRONG 5KM
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Miễn ship trong phạm vi 5km
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img style="width: 45%; margin-left: 55%" src="@Url.Content("~/Content/images/customer-care.gif")" alt="IMG-BANNER">

                    <a class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                LIÊN HỆ
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                0979 199 184 - 0386 628 858
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Liên hệ trực tiếp
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content page -->
<section class="bg0 p-t-52">
    <div class="container">

        <!-- GIỎ QUÀ CÁT TƯỜNG-->
        <div class="row mb-4">
            <div class="col-12 mb-3">
                <img src="~/Content/images/Temp/gioquacattuong.jpg" style="width: 100%; height: auto; border-radius: 16px; border: 1px solid #dcdcdc" />
            </div>
            <div class="col-12 mb-3">
                <div class="p-t-32 w-100">
                    <h4 class="ltext-108 cl2 p-b-20">
                        "GIỎ QUÀ CÁT TƯỜNG"
                    </h4>

                    <p class="stext-117 cl6 p-b-26">
                        Trà chúc Xuân Phú Quý,
                        <br />
                        Sữa Chua mừng Lộc An Khang,
                        <br />
                        Gia đình quây quần, Ấm tình Xuân.
                    </p>

                    <p class="stext-117 cl6 p-b-26">
                        Đây là giỏ quà Tết đặc biệt từ Nhà Mai Loan Yogurt năm nay.
                        <br />
                        Mỗi sản phẩm trong giỏ quà là một Lời chúc ấm lòng, thay bạn trao gửi Tết an vui.
                    </p>

                    <h4 class="ltext-108 cl2 p-b-20">
                        "GIỎ QUÀ CÁT TƯỜNG" gồm có:
                    </h4>
                    <p class="stext-117 cl6 p-b-26">
                        - 28 ly Sữa Chua đủ vị. (Truyền thống, Trà Xanh, Chanh Dây, Dâu, Việt Quất).
                        <br />
                        - 1 set Trà Oolong Tứ Quý cao cấp. (Trà Oloong trứ danh từ Bảo Lộc, Lâm Đồng).
                        <br />
                        - 1 set Sữa Shua sấy lạnh Chuẩn vị nhà Mai Loan.
                        <br />
                        --------------------------------------------------------------
                    </p>

                    <p class="stext-117 cl6 p-b-26">
                        - Hỗ trợ giao hàng.
                        <br />
                        - Nhận đặt hàng trước 24 Tháng Chạp Âm lịch.
                        <br />
                        - Liên hệ: <a href="tel:0979199184">0979 199 184</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="p-r-0-lg">
                    <!--  -->
                    <div class="wrap-pic-w how-pos5-parent">
                        <img src="~/Content/images/blog-04.jpg" style="border-radius: 16px">

                        <div class="flex-col-c-m size-126 bg10 how-pos6">
                            <span class="ltext-102 cl2 txt-center">
                                ĐÔI NÉT VỀ CHÚNG TÔI
                            </span>

                            @*<span class="stext-109 cl3 txt-center">
                                    Về chúng tôi
                                </span>*@
                        </div>
                    </div>

                    <div class="p-t-32">

                        <h4 class="ltext-108 cl2 p-b-28">
                            Yogurt Phô Mai Đà Lạt – Chất Lượng Tạo Nên Giá Trị Thương Hiệu.
                        </h4>

                        <p class="stext-117 cl6 p-b-26">
                            Xin chào khách hàng thương mến của Sữa Chua Mai Loan!
                            Đây Là dòng sản phẩm Yogurt đi tiên phong trong việc sử dụng nguồn sữa sạch và luôn tìm cách hoàn thiện về hương vị để tạo ra sản phẩm Sữa Chua Phô Mai cao cấp nhất.
                        </p>

                        <p class="stext-117 cl6 p-b-26">
                            Đầu tiên, chúng tôi muốn chia sẻ về tầm quan trọng của chất lượng sữa  - Với mong muốn đặt sự an toàn và chất lượng lên hàng đầu. chúng tôi chọn Sữa đã qua quá trình xử lý và được cung cấp bởi nhà công ty sữa đầu ngành, đảm bảo bạn nhận được sản phẩm với chất lượng từ nguồn gốc tốt nhất. chúng tôi chọn sữa tươi Vinamilk
                        </p>
                        <p class="stext-117 cl6 p-b-26">
                            Nhưng điều làm nổi bật sản phẩm này chính là kết quả của công thức riêng biệt và sự kết hợp hài hòa giữa sữa chua mềm mịn và phô mai nhật khẩu thơm béo. Tạo ra một hương vị đặc trưng không thể tìm thấy ở bất kỳ sản phẩm nào khác.
                        </p>
                        <p class="stext-117 cl6 p-b-26">
                            Quy trình chế biến và đóng gói được thực hiện nghiêm ngặt để đảm bảo những ly yaourt luôn tươi ngon. Bao bì của chúng tôi sử dụng cốc giấy cao cấp, không chỉ bảo vệ môi trường mà còn tạo nên sự sang trọng và bắt mắt, với mong muốn khách hàng được trãi nghiệm sự tuyệt vời mà không chỉ dừng lại ở chất lượng sản phẩm.
                        </p>
                        <p class="stext-117 cl6 p-b-26">
                            Ngoài ra,khi đội ngũ nhân viên và chăm sóc khách hàng là nguồn cảm hứng lớn nhất trong các tiêu chí phát triển. Họ luôn tận tâm và nhiệt huyết, với niềm đam mê trong việc mang đến những điều tuyệt vời cho khách hàng
                        </p>
                        <p class="stext-117 cl6 p-b-26">
                            Chúng tôi tự hào mang đến cho bạn món ngon độc đáo và đầy tình yêu
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-40 ">
            <h3 class="ltext-103 cl5">
                Sản phẩm mới
            </h3>
        </div>

        <div class="row isotope-grid">

            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @item.ID_Flavour Categories@(item.ID_Categories)">
                    <!-- Block2 -->

                    <div class="block2">
                        @if (item.Sale != 0)
                        {
                            <div class="block2-pic hov-img0 label-new" style="border-radius: 15px" data-label="-@item.Sale %">
                                <img src="@item.Images.Split('#')[0]" alt="IMG-PRODUCT">
                                <a name="@item.ID" id="btnjsmodalproduct-@item.ID" href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                    Xem Chi Tiết
                                </a>
                            </div>
                        }
                        else
                        {
                            <div style="border-radius: 15px" class="block2-pic hov-img0">
                                <img src="@item.Images.Split('#')[0]" alt="IMG-PRODUCT">
                                <a name="@item.ID" id="btnjsmodalproduct-@item.ID" href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                    Xem Chi Tiết
                                </a>
                            </div>
                        }

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a name="@item.ID" href="#" class="stext-103 cl4 hov-cl1 trans-04 js-name-b2 p-b-6  js-show-modal1">
                                    @item.Name
                                </a>

                                @if (item.Sale != 0)
                                {
                                    <span class="stext-105 cl3">
                                        <span style=" text-decoration: line-through #ff0000;">@item.Price đ</span>
                                        &nbsp;@((Convert.ToDecimal(item.Price.Replace(".", "")) - ((Convert.ToDecimal(item.Price.Replace(".", "")) * item.Sale) / 100)).ToString("0,0")) đ
                                    </span>
                                }
                                else
                                {
                                    <span class="stext-105 cl3">
                                        @item.Price đ
                                    </span>
                                }

                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04" src="@Url.Content("~/Content/images/icons/icon-heart-01.png")" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="@Url.Content("~/Content/images/icons/icon-heart-02.png")" alt="ICON">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <a href="@Url.Action("Product", "Home")" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Xem Thêm
            </a>
        </div>
    </div>
</section>

@foreach (var item in Model)
{
    <div id="jsmodalproduct-@item.ID" class="wrap-modal1 js-modal1 p-t-60 p-b-20">
        <div class="overlay-modal1 js-hide-modal1"></div>

        <div class="container">
            <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                <button id="btnjshidemodalproduct-@item.ID" name="@item.ID" class="how-pos3 hov3 trans-04 js-hide-modal1">
                    <img src="@Url.Content("~/Content/images/icons/icon-close.png")" alt="ĐÓNG">
                </button>
                <div id="contentModalChiTietSP" class="row">
                    <div class="col-md-6 col-lg-7 p-b-30">
                        <div class="p-l-25 p-r-30 p-lr-0-lg">
                            <div class="wrap-slick3 flex-sb flex-w">
                                <div class="wrap-slick3-dots"></div>
                                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                <div class="slick3 gallery-lb">

                                    @foreach (var image in item.Images.Split('#'))
                                    {
                                        <div class="item-slick3" data-thumb="@image">
                                            <div class="wrap-pic-w pos-relative">
                                                <img style="border-radius: 15px" src="@image" alt="IMG-PRODUCT">

                                                <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@image">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 p-b-30">
                        <div class="p-r-50 p-t-5 p-lr-0-lg">

                            <h4 class="mtext-105 font-weight-bold cl2 js-name-detail p-b-14">
                                @if (item.Sale != 0)
                                {
                                    @item.Name <span class="stext-103 text-danger"> (-@item.Sale%)</span>
                                }
                                else
                                {
                                    @item.Name
                                }
                            </h4>

                            <span class="mtext-105 font-weight-bold cl2">
                                @if (item.Sale != 0)
                                {
                                    <span class="text-danger">
                                        <span style=" text-decoration: line-through #333">@item.Price đ</span>
                                        &nbsp;@((Convert.ToDecimal(item.Price.Replace(".", "")) - ((Convert.ToDecimal(item.Price.Replace(".", "")) * item.Sale) / 100)).ToString("0,0")) đ
                                    </span>
                                }
                                else
                                {
                                    <span class="text-danger">
                                        @item.Price đ
                                    </span>
                                }
                            </span>
                            <hr />
                            <p class="mtext-106 font-weight-bold">CHI TIẾT SẢN PHẨM</p>
                            <p class="stext-104 cl3 p-t-23">
                                @item.Description
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

